<h1> Searcing movies according to filters</h1>
<%= form_for :movie, url: movies_path do |f|%>
<div>
<%= f.label :title %>&nbsp<%= f.text_field :title%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.label :year %>&nbsp<%= f.text_field :year%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<%= f.submit "Search movie"%>
</div>
<br>
<%= link_to "Connect With Facebook", "/auth/facebook" %>
<%end%>
