<h1> Searcing movies according to filters</h1>
<%= form_for :movie, url: movies_path do |f|%>
<div>
<%= f.label :title %>&nbsp<%= f.text_field :title%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.label :year %>&nbsp<%= f.text_field :year%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<%= f.submit "Search movie"%>
</div>
<br>
<%= link_to "Connect With Facebook", "/auth/facebook" %>
<%end%>

<% if @movieDetails != nil%>
<table>
	<th>Movie title</th>
	<th>year</th>
	<% @movieDetails["results"].each do |i| %>
	
			<tr>
				<td><%= i["title"] %></td>
				<td><%= i["release_date"] %></td>
			</tr>
	<%end%>

</table>
<%end%>