<div style="position:absolute; margin-left:30cm">
	<% if !(session[:userDetails]) %>
	
	<%= link_to "Signin With Facebook", "/auth/facebook" %>
	<%session[:redirect]="movies/new"%>

<% else %>
	<p> Welcome <%= session[:userDetails] %>!</p>
	<%= link_to "Logout", "/logout" %>
	<%session[:redirect]="moviess/new"%>
<% end %>
<br><br><%= link_to "Search page", new_movie_path %>
<br><br><%= link_to "Home Page", root_path%><br>
</div>
<div style="width:1000px; margin: auto; border: 2px solid black; position: absolute; margin-top:10px; margin-left:100px">
	<div style="text-align:center"><%= image_tag("http://image.tmdb.org/t/p/w185/"+@view.photo)%></div>
	<h1 style="text-align:center"><%=@view.name%></h1>
	<h3 style="text-align:center"><%=@view.year%></h3>


	<p><b>Overview : </b><%=@view.overview%></p>
	<%if @average_rating!=""%>
	<p><b>Average rating : </b><%=@average_rating%></p>
	<p><b>Total votes: </b><%=@total_rating%></p>
	<%end%>
	<div>
		<%if reviews.empty?!=true%>
		<p><b>List of reviews : </b></p>
		<div style="position: relative; margin-left: 100px">
		<% @reviews.each do |i| %>
			<%if i["review"]!=""%>
			<p><%=i["uName"]%> : <%=i["review"]%></p>
		<%end%>
		<%end%>	
		</div>
		<%end%>
		
	</div>
	<br>
	<% if (session[:userDetails]) %>
		<div style="text-align:center">
			<%= form_for :rate, url: views_rate_path do |f|%>
				Rate the movie&nbsp
				<%= f.hidden_field :view, :value => {"name" => @view.name, "year" => @view.year.to_s, "overview" => @view.overview, "photo" => @view.photo, "movId" => @view.movId} %>
				<%= f.hidden_field :mid, :value => @view.movId %>
				<%= f.text_field :rating%><br><br>
				
				Review the movie &nbsp
				<%= f.text_field :review%><br><br>
				<%= f.submit "Submit"%>
			<%end%>
		</div>
	<%else%><div style="color:red; text-align: center;"><b>Login to rate the movie</b></div>
	<%end%>
	
	<br>
	<br>
</div>
